<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
        <name replace-wildcards="yes">%h</name>
        <service>
                <type>_device-info._tcp</type>
                <port>0</port>
                <txt-record>vendor=Nvidia</txt-record>
                <txt-record>model=JetsonNano</txt-record>
                <txt-record>mac_address=00:04:4b:e6:b1:7c</txt-record>
        </service>
        <service>
                <type>_ssh._tcp</type>
                <port>22</port>
        </service>
        <service>
                <type>_smb._tcp</type>
                <port>445</port>
        </service>
</service-group>
